<h1>VendingMachine#index</h1>
<p>Find me in app/views/vending_machine/index.html.erb</p>
<%= form_with url: "/vending_machine/what_can_i_buy", id: "asdf", format: 'json', method: :get do |form| %>
  <%= form.label :money_left, "Money left:" %>
  <%= form.number_field :money_left, in: 0..200, step: 1%>
  <br><br>
  <%= form.label :price_tags, "price tags:" %>
  <%= form.text_area :price_tags, value: "14, 19, 21, 24, 27, 28, 30, 33, 37, 38, 50, 52, 56" %>
  <%= form.submit "what can I buy?" %>
<% end %>
<div id="ans"></div>
